body {
    font-family: tahoma, arial, helvetica, sans-serif;
	color: #292929;
	background-color: #002041;
    
}

#h2 {
    position: relative;
    margin: 0 auto;
    max-width: 320px;
    min-width: 120px;
    min-height: 30px;
    
}

#center {
    position: relative;
    margin: 0 auto;
    max-width: 420px;
    min-width: 420px;
    background-color: #84bff4;
    padding: 3px 20px 10px 20px;
    border-radius: 10px;
    border: 10px solid #151515;
    top: 50px;
    
}

.lbl {
    color: #CC0000;
    font-weight: bold;
}

